<div class="container-fluid text-center p-2 bg-body-tertiary">
  <form>
    <div class="row">
      <div class="col bg-white border mx-1" style="border-radius:10px;">
        <div class="container-fluid border mr-2 p-2 mt-2 fs-5 fw-semibold"
          style="color: white;border-radius: 10px;background-image: linear-gradient(to right, #8E2DE2, #4A00E0 ); box-shadow: 0 5px 10px rgba(45, 45, 45, 0.2)">
          AI Cobot Plugin
        </div>
        <div class="container-fluid text-left border my-2 p-2"
          style="border-radius: 10px; height:auto;width: auto; box-shadow: 0 5px 10px rgba(45, 45, 45, 0.05);">
          <!-- <div class="container-fluid py-2">
            <img class="center-image py-4" src="assets/img/explain.png" style="width: 15%; height: auto;">
            <p class="fst-italic pt-1">Select the code file and ask cobot to explain in simple way...!</p>
          </div> -->

          <div class="fs-3 fw-semibold">Introducing
            <span class="fs-1 fw-semibold gradient-text1">AI COBOT </span>Plugin
          </div>

          <div class="py-2 fs-5 fw-semibold">Empowering Coders with<span class="gradient-text2"> Intelligent
              Guidance</span> and<span class="gradient-text2"> Support</span> from <span
              class="gradient-text2">IDE</span>
          </div>

          <div class="row px-2">




            <div class="col border m-2" style="border-radius:6px ; box-shadow: 0 5px 10px rgba(0, 45, 45, 0.1) ;
              background-color: rgb(255, 255, 255);">
              <div class="container-fluid ">
                <img class="py-4" src="assets/img/pencil.png" style="width: 20%; height: auto;">
                <p class="fw-semibold">Generate Test Cases</p>
              </div>
            </div>



            <div class="col border m-2" style="border-radius:6px ; box-shadow: 0 5px 10px rgba(0, 45, 45, 0.1) ;
                        background-color: rgb(255, 255, 255);">
              <div class="container-fluid ">
                <img class="py-4" src="assets/img/optimise.png" style="width: 20%; height: auto;">
                <p class="fw-semibold">Optimize Code</p>
              </div>
            </div>

            <div class="col border m-2" style="border-radius:6px ; box-shadow: 0 5px 10px rgba(0, 45, 45, 0.1) ;
                          background-color: rgb(255, 255, 255);">
              <div class="container-fluid ">
                <img class="py-4" src="assets/img/binary-c.png" style="width: 20%; height: auto;">
                <p class="fw-semibold">Generate Code</p>
              </div>
            </div>


          </div>

          <div class="row px-2">




            <div class="col border m-2" style="border-radius:6px ; box-shadow: 0 5px 10px rgba(0, 45, 45, 0.1) ;
                                background-color: rgb(255, 255, 255);">
              <div class="container-fluid ">
                <img class="py-4" src="assets/img/test-cases.png" style="width: 20%; height: auto;">
                <p class="fw-semibold">Generate Manual Test Cases</p>
              </div>
            </div>



            <div class="col border m-2" style="border-radius:6px ; box-shadow: 0 5px 10px rgba(0, 45, 45, 0.1) ;
                                          background-color: rgb(255, 255, 255);">
              <div class="container-fluid ">
                <img class="py-4" src="assets/img/automation.png" style="width: 20%; height: auto;">
                <p class="fw-semibold">Generate Automated Tests</p>
              </div>
            </div>

            <div class="col border m-2" style="border-radius:6px ; box-shadow: 0 5px 10px rgba(0, 45, 45, 0.1) ;
                                                background-color: rgb(255, 255, 255);">
              <div class="container-fluid ">
                <img class="py-4" src="assets/img/quiz.png" style="width: 25%; height: auto;">
                <p class="fw-semibold">Generate Suggestions</p>
              </div>
            </div>


          </div>

          <div class="d-grid pt-2">
            <a class="btn btn-secondary fw-semibold" type="button" href="assets/Cobot.py" download="Cobot.py"
              style="background-image:  linear-gradient(to right, #0093E9, #80D0C7); border: none;">Download Now
              <i class="bi bi-download px-1"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>