.center-image {
  display: block;
  width: 50%;
}

.sidebar-title {
  font-weight: 600;
  background: linear-gradient(to right, #8E2DE2 0%, #4A00E0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  font: {
    size: 30px;
  }

  ;
}