<div style="background-image: linear-gradient(to left, #ffffff, #efefef)">
  <div class="offcanvas-header" style="align-items:center">
    <h3 class="mt-2 mx-5 sidebar-title">Operation Menu</h3>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="m-0">
  <div class="offcanvas-body">



    <ul class="navbar-nav">
      <li class="nav-item d-grid gap-2">
        <!-- <button type="sidebar-button" class="btn btn-light">Quick Queries</button> -->
        <a href="#" style="text-decoration:none">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 pt-3">
                  <img class="center-image" src="assets/img/answer.png" style="width: 120%; height: auto;">
                </div>
                <div class="col">
                  <div class="row">
                    <h5 class="card-title pt-3">Quick Query</h5>
                  </div>
                  <div class="row">
                    <p class="card-text">Perform quick queries for your day today tasks.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>


      </li>
      <li class="nav-item mt-2 d-grid gap-2">
        <a href="#" style="text-decoration:none">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 pt-3">
                  <img class="center-image" src="assets/img/code.png" style="width: 100%; height: auto;">
                </div>
                <div class="col">
                  <div class="row">
                    <h5 class="card-title pt-3">Code Documentation</h5>
                  </div>
                  <div class="row">
                    <p class="card-text">Perform quick queries for your day today tasks.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>

      </li>
      <li class="nav-item mt-2 d-grid gap-2">
        <a href="#" style="text-decoration:none">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 pt-3">
                  <img class="center-image" src="assets/img/software.png" style="width: 100%; height: auto;">
                </div>
                <div class="col">
                  <div class="row">
                    <h5 class="card-title pt-3">Code Generation</h5>
                  </div>
                  <div class="row">
                    <p class="card-text">Perform quick queries for your day today tasks.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>

      </li>

      <li class="nav-item mt-2 d-grid gap-2">
        <a href="/github-vulnerability" style="text-decoration:none">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 pt-3">
                  <img class="center-image" src="assets/img/security.png" style="width: 95%; height: auto;">
                </div>
                <div class="col">
                  <div class="row">
                    <h5 class="card-title pt-3">Analyze Vulnerabilities</h5>
                  </div>
                  <div class="row">
                    <p class="card-text">Analyze Security vulnerabilities for Github pull requests.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>

      </li>

            <li class="nav-item mt-2 d-grid gap-2">
              <a href="/code-suggestion" style="text-decoration:none">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3 pt-3">
                        <img class="center-image" src="assets/img/idea.png" style="width: 95%; height: auto;">
                      </div>
                      <div class="col">
                        <div class="row">
                          <h5 class="card-title pt-3">Code Suggest</h5>
                        </div>
                        <div class="row">
                          <p class="card-text">Get AI suggestion for your own code!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            
            </li>
    </ul>
  </div>
</div>