.instruction-list {
  list-style-type: disc;
}

 .gradient-bar {
  border-radius: 10px;
   height: 8px;
   background: linear-gradient(to left, #00DBDE, #FC00FF);
    // background:rgb(255, 0, 0);
   position: relative;
   overflow: hidden;
   animation: gradient 0.5s ease infinite;
 }

 .gradient-bar::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to right, #4158D0, #C850C0,#FFCC70);
      // background: rgb(177, 9, 233);
   transform: translateX(-100%);
   animation: shine 5s ease infinite;
 }

 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }

   100% {
     background-position: 100% 50%;
   }
 }

 @keyframes shine {
   0% {
     transform: translateX(-100%);
   }

   50% {
     transform: translateX(0%);
   }

   100% {
     transform: translateX(100%);
   }
 }