<!DOCTYPE html>
<html>

<head>
  <title>Code Genius</title>


</head>

<body>


  <div class="container-fluid text-center pt-2 bg-body-tertiary">
    <form [formGroup]="chatModelForm">
      <div class="row">

        <div class="col col-lg-3 bg-white border" style="border-radius:10px;">
          <div class="container-fluid border mr-2 p-2 mt-2 fs-5 fw-semibold"
            style="color: white;border-radius: 10px;background-image: linear-gradient(to right, #8E2DE2, #8E2DE2); box-shadow: 0 5px 10px rgba(45, 45, 45, 0.2)">
            Instructions
          </div>
          <div class="container text-left container border mt-2 p-2"
            style="border-radius: 10px; height:85%; box-shadow: 0 5px 10px rgba(45, 45, 45, 0.05);">
            <ul class="instruction-list" style="text-align:left;">
              <li><span>First bullet points</span></li>
              <li><span>Second bullet point</span></li>
              <li><span>Third bullet point</span></li>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="py-5" *ngIf="conversationList.length===0">
            <div class="row pt-5">
              <div class="col">
                <img src="assets/img/Typing-cuate.svg" style="width: 300px; height: auto;">
              </div>

            </div>
            <div class="row">

              <div class="col">
                <p class="fst-italic">Type query to get started...!</p>
              </div>
            </div>
          </div>


          <div class="my-2" *ngIf="conversationList.length!==0" style="height: 500px; overflow-y: scroll;">
            <div *ngFor="let item of conversationList; let i=index">
              <div class="px-3 py-2 m-1">
                <div class="row">
                  <div class="col col-lg-1  p-2">
                    {{getChatSource(i)}}
                  </div>
                  <div class="col border bg-white p-2" style="border-radius:8px;text-align: left;">
                    <span>{{item}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="input-group mb-3" style="align-items:bottom">
            <input formControlName="query" class="form-control form-control-lg bg-body-secondary"
              placeholder="Ask me anything..." type="text">
            <button class="input-group-text justify-content-center" (click)="onSubmitRequest()">
              <i class="bi bi-send-fill" style="font-size: 1.2rem; color: rgb(0, 89, 255);"></i> </button>
            <button class="input-group-text justify-content-center" (click)="clearSession()">
              <i class="bi bi-arrow-clockwise" style="font-size: 1.2rem;"></i>
            </button>
          </div>
          <div *ngIf="isGptCallMade" class="gradient-bar my-2">
            <div style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

        </div>
        <div class="col col-lg-3 bg-white border" style="border-radius:10px;">
          <div class="container-fluid border mr-2 p-2 mt-2 fs-5 fw-semibold"
            style="color: white;border-radius: 10px;background-image: linear-gradient(to right, #4A00E0, #4A00E0); box-shadow: 0 5px 10px rgba(45, 45, 45, 0.2)">
            Configuration
          </div>
          <div class="container text-left container border mt-2 p-2"
            style="border-radius: 10px; height:85%; box-shadow: 0 5px 10px rgba(45, 45, 45, 0.05);">
            <ul class="instruction-list" style="text-align:left;">
              <li><span>First bullet points</span></li>
              <li><span>Second bullet point</span></li>
              <li><span>Third bullet point</span></li>
            </ul>


          </div>
        </div>
      </div>
    </form>
  </div>





</body>

</html>