<nav class="navbar top" data-bs-theme="light"
  style="background-image: linear-gradient(to right, #8E2DE2, #4A00E0 ); box-shadow: 0 12px 12px rgba(45, 45, 45, 0.1)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 pt-1">
                <img src="assets/img/Logo.png" style="width: 260%; height: auto;">
       
      </div>
      <div class="col-auto px-3"><h3 class="m-2" href="#" style="color: white;">AI COBOT</h3></div>
    </div>
    <div class="row" style="color: white">
      <div class="col"><a class="nav-link active fw-semibold" aria-current="page" href="#">Home</a>
      </div>
      <div class="col"><a class="nav-link fw-semibold" href="#">About</a>
      </div>
      <div class="col"><a class="nav-link fw-semibold" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>