<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="about-section mt-2">
    <h1>AI COBOT</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>

  <div class="row pt-3">
    <h2 style="text-align:center">Our Team</h2>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/security.png" class="card-img-top" style="width:20%; height: auto;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>